body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  font-size: 22px;
  text-align: center;

}
/* header setion*/

.logo img {
  height: 50px;
  margin-left: 10px;
}

.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 position:fixed;
 background-color: black;
 border-bottom: 1px solid seashell;
 height: 80px;
 width: 100%;
 top: 0px;
 z-index: 5;
}

header nav {
 margin-right: 10px;
}

.menu {
 display: flex;
 justify-content: space-between;
 width: 400px;
}

a {
color: seashell;
}
h2, h3, h4 {
  padding: 10px;
  margin:0;
}

/* content setion*/

.main-wrapper {
  width: 1200px;
}
/* mission setion*/
#mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
}

.mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.black-box {
  background-color: black;
  width: 1200px;
}
/* Tea of the Month section */

.feature-container {
  padding-top: 80px;
}
.image-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;

}
.image-box {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}
.image-box img {
  width: 300px;
  height: 200px;
}
.image-box span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
/* Locations section */
.locations-container {
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
}
.text-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text-box {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* footer section */
.contact {
  height: 200px;
}
.copyright h5 {
  padding-left: 20px
}
